doctype html
html
    head
        title #{title}
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='renderer', content='webkit')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        base(href='/')
        link(rel='icon', type='image/png', href='/assets/i/favicon.png')
        link(rel='stylesheet', href='/assets/css/amazeui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        <!--[if lt IE 9]>
        script(src='http://libs.baidu.com/jquery/1.11.3/jquery.min.js')
        script(src='http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js')
        script(src='/assets/js/amazeui.ie8polyfill.min.js')
        <![endif]-->

        <!--[if (gte IE 9)|!(IE)]><!-->
        script(src='/assets/js/jquery.min.js')
        <!--<![endif]-->
        script(src='/assets/js/amazeui.min.js')
        script(src='/javascripts/common.js', type='text/javascript')
    body
        block content
